#include <windows.h>
#include "Resource.h"

IDI_SNAKE ICON DISCARDABLE "Snake.ico"

IDD_OPTIONS DIALOG DISCARDABLE 0, 0, 164, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX	"Options", IDG_OPTIONS, 4, 4, 156, 36
	RTEXT		"Speed :", IDS_SPEED, 12, 16, 32, 16, SS_CENTERIMAGE
	CONTROL		"Slider", IDC_SPEED, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 48, 17, 104, 16
	DEFPUSHBUTTON	"&OK", IDOK, 60, 44, 48, 16
	PUSHBUTTON	"Ca&ncel", IDCANCEL, 112, 44, 48, 16
END

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 150, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About..."
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON	"&OK", IDOK, 56, 44, 44, 16
	ICON		IDI_SNAKE, IDC_SNAKE, 15, 11, 20, 20
	CTEXT		"Snake for Windows", IDS_ABOUT1, 40, 4, 100, 16, SS_CENTERIMAGE
	CTEXT		"Copyright (C) keeshux 2002", IDS_ABOUT2, 40, 20, 100, 16, SS_CENTERIMAGE
END

IDR_SNAKE MENU DISCARDABLE 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Start", IDR_START
		MENUITEM "", IDR_PAUSE, GRAYED
		MENUITEM "Sto&p", IDR_STOP
		MENUITEM SEPARATOR
		MENUITEM "&Options...", IDR_OPTIONS
		MENUITEM SEPARATOR
		MENUITEM "&Exit", IDR_EXIT
	END
	POPUP "&?"
	BEGIN
		MENUITEM "&About...", IDR_ABOUT
	END
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "algoritmico\0"
			VALUE "FileDescription", "Snake for Windows\0"
			VALUE "FileVersion", "1.00\0"
			VALUE "InternalName", "Snake\0"
			VALUE "LegalCopyright", "Copyright (C) keeshux 2002\0"
			VALUE "OriginalFilename", "Snake.exe\0"
			VALUE "ProductName", "Snake\0"
			VALUE "ProductVersion", "1.00\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END
